<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="loop">
  <description>PHP CodeSniffer configuration</description>

  <file>.</file>
  <exclude-pattern>vendor/</exclude-pattern>
  <exclude-pattern>vendor_release/</exclude-pattern>

  <!-- Show progress -->
  <arg value="p"/>

  <rule ref="Drupal"/>
  <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
</ruleset>
