parameters:
  level: 8
  paths:
    - .
  excludePaths:
    analyse:
      - src/Pretix/ApiClient
    analyseAndScan:
      - vendor
  ignoreErrors:
    - '#(Function|Method) (Drupal\\dpl_pretix\\|dpl_pretix_).+ return type has no value type specified in iterable type array.#'
    - '#(Function|Method) (Drupal\\dpl_pretix\\|dpl_pretix_).+ has parameter \$(element|form|options) with no value type specified in iterable type array.#'


# Local Variables:
# mode: yaml
# End:
